.formComponentWrapper {
    width: 60%;
}

.sectionHeading {
    font-size: 1.75em;
    font-weight: 500;
    color: white;
    margin-bottom: 10%;
    width: 130%;
}

.subHeading {
    font-size: 1.3em;
    color: white;
    margin-top: 10%;
    margin-bottom:-7%;
    width: 130%;
    font-weight:600;
}