.ThirdContainer {
  width: 100vw;
  z-index: -2;
  overflow: hidden;
}
.ThirdTextContainer {
  margin-left: 6vw;
}
.Text {
  font-size: 6vh;
  font-family: poppins-bold;
}

.viewport {
  background-image: url("../../../assets/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.MainContainer {
  margin-top: 5vh;
  width: 99vw;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.CardContainerTop,
.CardContainerBottom {
  width: 90vw;
  display: flex;
  width: 100vw;
  height: 70vh;
  justify-content: space-evenly;
  align-items: center;
}

.container3 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TextContainer {
  background-color: #222831;
  text-align: center;
  width: 70vw;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5vh 0;
  margin: 30vh 0;
}
.text {
  font-family: inde;
  font-size: 300%;
}
