*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

*:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#wrapper{
    display:flex;
    flex-direction: row;
    background-color: black;
    width:100vw;
}

#image-container{
    height:100vh;
    width:65vw;
    background-image: url(./login-background.png);
    background-size:100% 100%;
}

#login{
    height:100vh;
    background-color: #6F9DEE;
    width:35vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:60%;
}

#external-login{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height:17vh;
}

.external-login-button{
    width:100%;
    height: auto;
    display:block;
}

#horizontal-line-block{
    margin:3vh 0 3vh 0;
    display: block;
    width:100%;
}

.line{
    width:100%;
    height:0px;
    border:1px solid white;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}

#line-middle-text{
    line-height: 0;
    width:auto;
    border-left: 10px solid #6F9DEE;
    border-right: 10px solid #6F9DEE;
    height:20px;
    text-align: center;
    background-color: #6F9DEE;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-size:17px;
    font-weight: bolder;
}

#native-login{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mail-field{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}

.login-icon{
    height:25px;
}

.login-data{
    width:calc(100% - 40px);
    line-height: 32px;
    margin-left: 15px;
    padding-left:10px;
    background-color: transparent;
    border-bottom: 2px solid white;
    font-size: 18px;
}

.mail-field:nth-child(1){
    margin-top:10px;
    margin-bottom:calc(1vh + 10px);
}

.mail-field:nth-child(2){
    margin-top: 20px;
}

input{
    color:white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-size:17px;
    color: white;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size:17px;
    color: white;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    font-size:17px;
    color: white;
}

#forgot-link{
    width:100%;
    text-align:right;
    margin-bottom:2vh;
    color:white;
    margin-right:5px;
}

#login-button{
    margin-top: 1vh;
    width: 98%;
    background-color: white;
    color: #6F9DEE;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 22px;
    font-weight: 500;
    cursor:pointer;
}

#login-button:hover{
    box-shadow: gray;
}