.Container{
    height: 100%;
    width: 26%;
    border-radius: 20px;
    overflow: hidden;
}
.bg{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:black;
    opacity: 0.6;
    
}

/* .ReadMore{
    position: relative;
    left: 5%;
    top: 90%;
    font-family: poppins-semi-bold;
    color: white;
    font-size: 120%;
} */
