.SecondContainer {
  /* position: absolute; */
  width: 100vw;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SecondImageContainer {
  margin-right: 5vw;
  width: 50vw;
  overflow-x: hidden;
}
.SecondImage {
  position: relative;
  height: auto;
  width: 100%;
}
.SecondTextContainer {
  margin: 10vh;
  width: 30vw;
}
.SecondText1 {
  font-family: poppins-bold;
  font-size: 6vh;
}
.SecondText2 {
  top: 100%;
  font-family: poppins-medium;
  font-size: 3vh;
  padding-top: 3vh;
}
.SecondText3 {
  top: 100%;
  font-family: poppins-semi-bold;
  font-size: 3vh;
  padding-top: 3vh;
}
/* .BottomBar2 {
  position: relative;
  top: 18%;
  height: 2%;
  width: 8%;
  background-color: #6f9dee;
  border-radius: 20px;
} */
.FirstBlueCurveContainer {
  position: relative;
  width: 100vw;
  height: auto;
  z-index: -1;
}
.FirstBlueCurve {
  width: 100%;
  height: auto;
}

.ZContainer {
  position: absolute;
  height: 60vh;
  top: 200vh;
  left: 20vw;
}
.Z {
  position: relative;
  height: 100%;
  width: auto;
}
.CirclesFlex {
  position: absolute;
  width: 100vw;
  top: 210vh;
  align-items: flex-start;
  justify-content: space-around;
  display: flex;
}
.InnerFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.Circles {
  position: relative;
  width: 10vw;
  height: 10vw;
  background-color: white;
  border-radius: 5vw;
}
.FlexTextHeading {
  font-family: poppins-bold;
  color: white;
  font-size: 3vh;
  text-align: center;
  padding: 2vh 0;
}
.FlexText {
  font-family: poppins-regular;
  color: white;
  width: 20vw;
  text-align: center;
}
