.Container {
  /* background-color: #7300f7; */
  width: 100vw;
  height: auto;
  margin-top: 16vh;
  width: 100vw;
  /* margin-left: 15vw; */
}

.cardsContainer {
  background-color: #7300f7;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  /* margin-top: 5vh;
  padding-bottom: 5vh; */
}

.card {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5vh;
  width: 25%;
  border-radius: 20px;
  background-color: rgba(245, 247, 245);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin: 3vh;
}

.heading {
  font-family: poppins-bold;
  text-align: center;
  margin-bottom: 2vh;
  font-size: 4vh;
}

.text {
  font-family: poppins-medium;
  /* text-align: center; */
  font-size: 2vh;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.bottomContainer {
  padding: 5vh 0;
  width: 100%;
  height: auto;
}

.textContainer1 {
  width: 100%;
  display: flex;
  align-items: center;
}
.textContainer2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.innerContainer {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 60vw;
  padding: 5vh;
  border-radius: 20px;
  margin: 5vh;
  color: black;
}

.innerContainer:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.txtContainer {
  display: flex;
  justify-content: space-between;
}

.rightBulgeContainer{
  height: 50vh;
  transform: translateX(17vw);
}

.rightBulge{
  height: 100%;
}

.leftBulgeContainer{
  height: 50vh;
  transform: translateX(-15vw);
}

.leftBulge{
  height: 100%;
}









.fin_container {
  width: 100vw;
  margin-top: 10vh;
}

.fin_blogsConainer {
  /* margin-top: 5vh; */
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.fin_blogLeftContainer {
  display: flex;
  align-items: center;
  margin-left: 10vw;
}

.fin_blogRightContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10vw;
    margin-left: 10vw;
  }

.fin_blog {
  display: flex;
  width: 55vw;
  border: 2px solid;
  margin: 5vh 0;
}

.fin_imgContainer {
  /* height: 100%; */
  width: 30%;
  border-right: 2px solid black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fin_img {
  /* height: 100%; */
  width: 100%;
  height: auto;
}

.fin_textContainer {
  /* height: 100%; */
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 7vh;
  background-color: #e6e6e6;
}

.fin_heading{
    font-size: 4vh;
    font-family: poppins-bold;
    margin-bottom: 2vh;
}

.fin_text {
  font-family: poppins-medium;
  font-size: 2vh;
}

.fin_readMoreBtn{
    border: 2px solid #2699FB;
    padding: 1vh 1vw;
    margin-top: 4vh;
    cursor: pointer;
    font-family: poppins-medium;
    color: #2699FB;
    transition: all 0.1s linear;
}

.fin_readMoreBtn:hover{
    transform: scale(1.1);
}

.fin_rightBulgeContainer {
  height: 50vh;
  transform: translateX(17vw);
}

.fin_rightBulge {
  height: 100%;
}

.fin_leftBulgeContainer {
  height: 50vh;
  transform: translateX(-15vw);
}

.fin_leftBulge {
  height: 100%;
}

.fin_noBlogs{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}