@font-face {
  font-family: 'poppins';
  src: local('poppins'), url('./assets/Fonts/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'poppins-bold';
  src: local('poppins-bold'), url('./assets/Fonts/Poppins-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'poppins-semi-bold';
  src: local('poppins-semi-bold'), url('./assets/Fonts/Poppins-SemiBold.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
